body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family: vazir;
    src: url('./assets/Vazir-FD-WOL.ttf')
}
* {
    direction: rtl;
    text-align: right;
    font-family: vazir, sans-serif !important;
}
.text-red {
    color: red
}


.flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-link {
    color: #fff !important;
}

.active {
    transform: scale(1.5)
}